{
    "parser": "babel-eslint",
    "plugins": [
        "react",
        "immutable",

    ]
    "rules": {
        "strict": 0,
        "immutable/no-let": 2,
        "immutable/no-this": 2,
        "immutable/no-mutation": 2
    }
}
